extends _layouts/page

block content
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti tempore pariatur ut ab sint quo odit, repudiandae eos cum perferendis voluptate illum ipsum veritatis aspernatur aperiam vero fugiat quis?
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eos voluptate voluptatibus nobis. Delectus sit alias totam, maxime mollitia minus et, tenetur id molestias eum repudiandae saepe ullam ad quam!
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa expedita asperiores provident quis voluptate facilis impedit a consequatur magni maiores non iure recusandae vero esse aliquid eaque pariatur, similique laborum.
